<h1>Welcome to Book My Show App</h1>
<h2>Listing The Current movies</h2>
<% @movielist.each do |movie| %>
        <h1 style="color:red;text-align:centre"><%= movie.name %></h1>
<% end %>
<h2 style="color:powderblue;text-align:centre;font-size:160%;">Please Sign In to view the show for each movie and book the tickets!</h2>
